
  <div class = "row">
    <div class = "col-xs-6">
      <div class = "row">
        <div id = "dealer">
          <% if session[:stay] == false %>
            <%= erb(:dealer_covered, :layout => false) %>
          <% else %>
            <%= erb(:dealer_uncovered, :layout => false) %>
          <%end%>
        </div>
      </div>
      <div class = "row">
        <div id = "player">
          <% session[:player][:cards_dealt].each do |value, suit| %>
            <div class = "card">
              <img src = <%= "/images/cards/#{suit}_#{value}.jpg" %> />
            </div>
          <%end%>
        </div>
      </div>
      <div class = "row">
        <div id = "hand_info">
          <%= erb(:hit_stay, :layout => false)%>
        </div>
      </div>
      <%= session[:result_msg] %>
    </div>

    <div class = "col-xs-2">
      <% if session[:stay] %>
      <form class = "form-inline" action = "/bet" method = "post">
        <div class="form-group">
          <label for="player_name">$</label>
          <input type="number" class="form-control" name = "bet" id="bet" value = <%= session[:bet] %> />
        </div>
        <button type="submit" class="btn btn-primary btn-large">Bet</button>
      </form>
      <%end%>
    </div>
  </div>
